<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @member.first_name %></h1>
    <p>
      As promised, here is the survey I would like you to fill out before our first meeting. This will help me plan ahead of that meeting. 

      Click <%= link_to "here", "http://personal-chef.surge.sh/" %> to access the survey. 
    </p>
  </body>
</html>